<!doctype html>
<html>
  <head>
    <title>Wishes</title>
    <link rel="icon" href="/img/app.png">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <img class="potrait" src="/img/birthday.jpg">
    <img class="potrait" src="/img/Varshitha.jpg">
    </div>
    {{>footer}}
  </body>
</html>