<!doctype html>
<html>
  <head>
    <title>Wishes</title>
    <link rel="icon" href="/img/app.png">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <embed type="text/html" src="https://h26k2.github.io/birthday-animation/index.html" width="600" height="600">
    <img class="potrait" src="/img/birthday.gif">
    <img class="potrait" src="/img/Varshitha.jpg">
    </div>
    {{>footer}}
  </body>
</html>